@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    cursor: default;
    overflow: hidden;
    z-index: -3;
    position: absolute;
}

.alchemy-container {
    width: 30vw;
    height: 30vw;
    position: relative;
    margin: 0;
    left: 35vw;
    top: 50vh;
    transform: translateY(-50%);
}

.alchemy-visuals {
    width: 30vw;
    height: 30vw;
}

.alchemy-element {
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    position: absolute;
    display: block;
    align-items: center;
}

.alchemy-element-text {
    text-align: center;
    font-size: 1.25vw;
    top: 0;
}

.alchemy-element-amount {
    text-align: center;
    font-size: 0.75vw;
    bottom: 0;
}

.grey-bkg-style {
    border-width: 3px;
    border-color: white;
    border-style: solid;
    background-color: #909090;
    color: black;
    transition: background-color 0.15s, border-color 0.15s, color 0.15s;
    cursor: pointer;
}

.grey-bkg-style:hover {
    background-color: #303030;
    color: white;
    border-color: grey;
}

.navbar-element:hover, #options-button:hover:not(.active) {
    background-color: #606060;
    color: #c0c0c0;
}

.grey-bkg-style.disabled {
    background-color: #606060;
    color: grey;
    border-color: grey;
    cursor: not-allowed;
}

.grey-bkg-style.active {
    background-color: #101010;
    color: white;
    border-color: white;
}

.reaction-container {
    display: flex;
    position: absolute;
    top: 5.5vw;
    width: 35vw;
    height: 20vw;
    gap: 1vw;
    margin-top: 1vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

#reaction-container {
    left: 0vw;
}

#special-reaction-container {
    left: 65vw;
}

.reaction-option {
/*
    display: flex;
    flex-direction: column;*/
    width: 10vw;
    height: 7vw;
    border-radius: 35px;
}

.no-highlight {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.reaction-option-title {
    text-align: center;
    top: 0.75vw;
    font-size: 1.05vw;
    width: 100%;
    position: relative;
}

.reaction-option-description {
    text-align: center;
    font-size: 0.75vw;
    width: 100%;
    position: relative;
}

.reaction-option-description-container {
    margin: 0.5vw;
    bottom: 0.5vw;
    display: flex;
    flex-direction: column;
    top: 0px;
    position: relative;
    height: 4.25vw;
    justify-content: center;
}

.reaction-option-effects {
    /*height: 60px;*/
}

.hidden {
    display: none;
}

#reaction-container-title {
    left: 0vw;
}

.reaction-container-title {
    color: white;
    text-align: center;
    font-size: 3vw;
    position: absolute;
    margin: 0;
    width: 35vw;
    height: 15vw;
    top: 10px;
}

#special-container-title {
    left: 65vw;
}

#special-reaction-container > .reaction-option .active {
    cursor: pointer;
}

#navbar {
    width: 39.4vw;
    left: 30.3vw;
    height: 3vw;
    background-color: black;
    bottom: 0;
    position: absolute;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    display: flex;
    border-top-width: 4px;
    border-color: white;
    border-top-style: solid;
    overflow: hidden;
}

.navbar-element, #options-button {
    width: 13.05vw;
    height: 3.25vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.15s, border-color 0.15s, color 0.15s;
}

#options-button {
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    border-top-left-radius: 2vw;
    border-top-style: solid;
    border-width: 4px;
}

#navbar-element-2 {
    border-width: .2vw;
    border-color: white;
    border-left-style: solid;
    border-right-style: solid;
}

.navbar-text {
    width: 13vw;
}

.page {
    width: 100vw;
    height: 100vh;
    z-index: -2;
    position: absolute;
}

.page-button > .page-text {
    transition: background-color 0.15s, border-color 0.15s, color 0.15s;
}

.page-button.active, .page-button.active > .page-text {
    color: #222222;
    background-color: white;
}

#options-page:not(.hidden) {
    display: flex;
    justify-content: space-evenly;
    height: 90vh;
}

.options-column {
    width: 30vw;
    height: 90vh;
}

.options-column-title {
    width: 100%;
    top: 1vw;
    font-size: 2.5vw;
    color: white;
    text-align: center;
    position: relative;
    height: 3vw;
}

.options-column-line {
    width: 100%;
    top: 1.5vw;
    height: .2vw;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    position: relative;
}

.options-column-element {
    height: 2vw;
}

.options-column-content {
    height: 82.3vh;
    top: 2.5vw;
    position: relative;
}

.options-text {
    color: white;
    font-size: 1.5vw;
    height: 2vw;
    width: 6vw;
    display: inline-block;
}

.align-left {
    left: 0;
    position: relative;
}

.align-right {
    right: 0;
    position: relative;
}

.on-off-switch {
    height: 2vw;
    width: 6vw;
    margin-left: 17.5625vw;
    display: inline-block;
}

.autoclicker {
    width: 3vw;
    height: 3vw;
}

.autoclicker-dock {
    width: 3vw;
    height: 3vw;
    border-width: 2px;
    border-style: none;
    border-top-style: solid;
    border-top-right-radius: 1.5vw;
    border-color: white;
    background-color: black;
    z-index: -1;
}

canvas {
    overflow: visible;
    transition: left 0.1s, top 0.1s;
}