@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    cursor: default;
    overflow: hidden;
    z-index: -3;
    position: absolute;
}

.alchemy-container {
    width: 30vw;
    height: 30vw;
    position: relative;
    margin: 0;
    left: 35vw;
    top: 50vh;
    transform: translateY(-50%);
    z-index: -2;
}

.alchemy-visuals {
    width: 30vw;
    height: 30vw;
    z-index: -3;
    position: relative;
}

.alchemy-element {
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    position: absolute;
    display: block;
    align-items: center;
}

.alchemy-element:not(.heat-element) {
    z-index: 1;
}

.heat-element {
    width: 2.2vw;
    height: 1.5vw;
    border-radius: 25%;
    transition: top 0.5s ease-out, background-color 0.15s, border-color 0.15s, color 0.15s;
    top: 14vw;
    left: 13.65vw;
    padding-bottom: 0px;
}

.heat-element.shown {
    top: 16vw;
}

.alchemy-element-text {
    text-align: center;
    font-size: 1.25vw;
    bottom: 0;
}

.alchemy-element-amount {
    text-align: center;
    font-size: 0.75vw;
    bottom: 0;
}

.heat-element > .alchemy-element-text {
    text-align: center;
    font-size: 0.75vw;
    height: 1vw;
    width: 0.5vw;
}

.heat-element > .alchemy-element-amount {
    text-align: center;
    font-size: 0.7vw;
    width: 100%;
    height: 70%;
    position: absolute;
}

.grey-bkg-style {
    border-width: 0.25vw;
    border-color: white;
    border-style: solid;
    background-color: #909090;
    color: black;
    /*transition: background-color 0.15s, border-color 0.15s, color 0.15s;*/
    cursor: pointer;
}

.grey-bkg-style:not(.heat-element) {
    transition: background-color 0.15s, border-color 0.15s, color 0.15s;
}

.grey-bkg-style:hover {
    background-color: #303030;
    color: white;
    border-color: grey;
}

.navbar-element:hover, #options-button:hover:not(.active) {
    background-color: #606060;
    color: #c0c0c0;
}

.grey-bkg-style.disabled {
    background-color: #606060;
    color: grey;
    border-color: grey;
    cursor: not-allowed;
}

.grey-bkg-style.active {
    background-color: #101010;
    color: white;
    border-color: white;
}

.reaction-container {
    display: flex;
    position: absolute;
    top: 5.5vw;
    width: 35vw;
    height: 20vw;
    gap: 1vw;
    margin-top: 1vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

#reaction-container {
    left: 0vw;
}

#special-reaction-container {
    left: 65vw;
}

.reaction-option {
/*
    display: flex;
    flex-direction: column;*/
    width: 10vw;
    height: 7vw;
    border-radius: 2vw;
}

.no-highlight {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.reaction-option-title {
    text-align: center;
    top: 0.75vw;
    font-size: 1.05vw;
    width: 100%;
    position: relative;
}

.reaction-option-description {
    text-align: center;
    font-size: 0.75vw;
    width: 100%;
    position: relative;
}

.reaction-option-description-container {
    margin: 0.5vw;
    bottom: 0.5vw;
    display: flex;
    flex-direction: column;
    top: 0px;
    position: relative;
    height: 4.25vw;
    justify-content: center;
}

.reaction-option-effects {
    /*height: 60px;*/
}

.hidden {
    display: none;
}

#reaction-container-title {
    left: 0vw;
}

.reaction-container-title {
    color: white;
    text-align: center;
    font-size: 3vw;
    position: absolute;
    margin: 0;
    width: 35vw;
    height: 15vw;
    top: 10px;
}

#special-container-title {
    left: 65vw;
}

#special-reaction-container > .reaction-option .active {
    cursor: pointer;
}

#navbar {
    width: 39.4vw;
    left: 30.3vw;
    height: 3vw;
    background-color: black;
    bottom: 0;
    position: absolute;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    display: flex;
    border-top-width: 4px;
    border-color: white;
    border-top-style: solid;
    overflow: hidden;
    z-index: 1;
}

.navbar-element, #options-button {
    width: 13.05vw;
    height: 3.25vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    cursor: pointer;
    font-size: 1.5vw;
    transition: background-color 0.15s, border-color 0.15s, color 0.15s;
}

#options-button {
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    border-top-left-radius: 2vw;
    border-top-style: solid;
    border-width: 4px;
}

#navbar-element-2 {
    border-width: .2vw;
    border-color: white;
    border-left-style: solid;
    border-right-style: solid;
}

.navbar-text {
    width: 13vw;
}

.page {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -2;
    position: absolute;
}

.page:not(.hidden) {
    display: inline-block;
}

.page-button > .page-text {
    transition: background-color 0.15s, border-color 0.15s, color 0.15s;
}

.page-button.active, .page-button.active > .page-text {
    color: #222222;
    background-color: white;
}

#options-page:not(.hidden) {
    display: flex;
    justify-content: space-evenly;
    height: 90vh;
}

.options-column {
    width: 30vw;
    height: 90vh;
}

.options-column-title {
    width: 100%;
    top: 1vw;
    font-size: 2.5vw;
    color: white;
    text-align: center;
    position: relative;
    height: 3vw;
}

.options-column-line {
    width: 100%;
    top: 1.5vw;
    height: .2vw;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    position: relative;
}

.options-column-element {
    height: 2vw;
    display: flex;
    justify-content: space-between;
}

.options-column-content {
    height: 82.3vh;
    top: 2.5vw;
    position: relative;
}

.options-text {
    color: white;
    font-size: 1.5vw;
    height: 2vw;
}

.on-off-switch {
    height: 2vw;
    width: 6vw;
    margin-left: 17.5625vw;
    display: inline-block;
}

.clicker {
    width: 3vw;
    height: 3vw;
    cursor: move;
}

.clicker-text {
    color: black;
    font-size: 0.65vw;
    text-align: center;
    width: 100%;
    top: 1.5vw;
    position: absolute;
}

.keyclicker > .clicker-text {
    color: white;
}

.clicker-dock-container {
    height: 3.5vw;
    border-width: 2px;
    border-style: none;
    border-top-style: solid;
    border-top-right-radius: 1.5vw;
    border-color: white;
    background-color: black;
    z-index: -1;
    bottom: 0;
    left: 0;
    position: absolute;
    display: flex;
}

.clicker-dock {
    width: 3vw;
    height: 3vw;
    bottom: 0.5vw;
}

canvas {
    overflow: visible;
}

.options-button {
    border-radius: 0.75vw;
    padding-left: 1vw;
    padding-right: 1vw;
    vertical-align: middle;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.options-button > div {
    font-size: 1vw;
}

#info-container {
    position: absolute;
    width: 30vw;
    height: 10vw;
    top: 0;
    left: 35vw;
    color: white;
    text-align: center;
    font-size: 2vw;
}

#context-menu {
    position: absolute;
    display: none;
    flex-direction: column;
    width: 15vw;
    background-color: #7a7b7a;
    border-radius: 0.5vw;
    border-width: 0.2vw;
    border-style: solid;
    border-color: #4c4f4c;
    padding: 0.5vw;
    justify-content: space-between;
    gap: 0.6vw;
}

#context-menu > div {
    width: 100%;
    height: 1.5vw;
    font-size: 1.25vw;
    color: #ccc;
    display: flex;
    justify-content: space-between;
}

#context-menu > div > div {
    width: 30%;
}

.keyclicker-key-change {

}

.keyclicker-mode-change {
    font-size: 1.15vw;
}

.keyclicker-key-change, .keyclicker-mode-change {
    text-align: center;
    border-style: solid;
    border-width: 0.25vw;
    border-radius: 0.75vw;
    border-color: #666;
    background-color: #888;
    color: #4c4c4c;
    height: 100%;
}

#context-menu > div.horizontal-line {
    height: 0.25vw;
    background-image: linear-gradient(0.25turn, #7a7b7a, white 40%, white 60%, #7a7b7a)
}

#tutorial-box {
  background-color: #44d;
  height: 85vmin;
  width: 100vmin;
  border-radius: 7vmin;
  border-style: solid;
  border-width: 0.5vmin;
  border-color: #99e;
  box-shadow: 0 0 3vmin #99e;
  margin: auto;
  position: absolute;
}

.tutorial-image {
  position: absolute;
  width: 80vmin;
  height: 45vmin;
  left: 9.75vmin;
  top: 9.75vmin;
  border-radius: 2vmin;
  border-style: solid;
  border-width: 0.5vmin;
  border-color: #99e;
  box-shadow: 0 0 1vmin #99e;
}

.tutorial-title, .tutorial-subtitle, .tutorial-header, .tutorial-text {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

.tutorial-title, .tutorial-subtitle, .tutorial-header {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

.tutorial-subtitle {
  top: 70vmin;
  font-size: 5vmin;
  text-shadow: 0 0 1vmin #88e;
  color: #88e;
}

.tutorial-title {
  top: 57.5vmin;
  font-size: 7.5vmin;
  text-shadow: 0 0 1.5vmin #bbf;
  color: #bbf;
}


.tutorial-subtitle {
  top: 70vmin;
  font-size: 5vmin;
  text-shadow: 0 0 1vmin #88e;
  color: #88e;
}

.tutorial-header {
  top: 57vmin;
  font-size: 5vmin;
  text-shadow: 0 0 1vmin #bbf;
  color: #bbf;
}

.tutorial-text {
  top: 65vmin;
  font-size: 3vmin;
  text-shadow: 0 0 1vmin #88e;
  color: #99e;
  position: absolute;
  left: 7.5%;
  width: 85%;
}

#tutorial-box-wrapper {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .7);
  position: absolute;
  z-index: 2;
}

#tutorial-box-wrapper:not(.hidden) {
  display: flex;
}

.left-arrow, .right-arrow {
  width: 7vmin;
  height: 7vmin;
  position: absolute;
  top: 37.5vmin;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 0.5vmin #fff);
  filter: drop-shadow(0 0 0.5vmin #fff);
}

.right-arrow {
  right: 1.5vmin;
}

.left-arrow {
  left: 1.5vmin;
}

.tutorial-x {
  width: 4vmin;
  height: 4vmin;
  top: 4vmin;
  right: 4vmin;
  position: absolute;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 0.5vmin #fff);
  filter: drop-shadow(0 0 0.5vmin #fff);
}